---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Portfolio"
  description="Selected projects and work by Principal Full-Stack Engineer Eric Carlisle."
  pubDate={new Date('January 01 2025')}
  pageType="portfolio"
>
  <p>Coming soon.</p>
</Layout>
