---
interface Props {
  printables: string;
  thingiverse: string;
  tinkercad: string;
}

const { printables, thingiverse, tinkercad } = Astro.props;
---

<ul class="model-resource-links">
  <li>
    <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
      <path d="M3.678 4.8 12 9.6v9.6l8.322-4.8V4.8L12 0 3.678 4.8ZM12 19.2l-8.322-4.8V24L12 19.2Z" fill="#fa6831"></path>
    </svg>
    <a href={printables}>STL file at Printables</a>
  </li>
  <li>
    <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
      <path
        d="M11.955.005C5.425-.152-.091 5.485.007 11.805-.228 18.56 5.544 24.055 12.06 24c6.562-.1 11.853-5.405 11.941-11.97.031-6.547-5.495-12.21-12.045-12.025Zm-.047 1.701a10.276 10.276 0 1 1-.001 20.553 10.276 10.276 0 0 1 .001-20.553ZM6.358 6.487c-.322 0-.358.033-.358.361v2.248c0 .351.04.391.398.391h3.823c.274 0 .274.004.274.265v9.736c0 .12.078.2.2.199h2.554c.247-.003.283-.035.283-.28v-9.32c0-.124.004-.239 0-.39s.055-.21.218-.21h3.9c.319.004.35-.032.35-.344V6.855c0-.34-.024-.363-.37-.363l-5.625-.005H6.358Z"
        fill="#196ef0"></path>
    </svg>
    <a href={thingiverse}>STL file at Thingiverse</a>
  </li>
  <li>
    <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
      <path
        d="M0 0v7.32h7.32V0H0Zm8.34 0v7.32h7.32V0H8.34Zm8.34 0v7.32H24V0h-7.32ZM1.605 1.266H5.71V2.33h-1.4v3.725H3.055V2.33h-1.45V1.266Zm9.77 0h1.256V6.05h-1.256V1.266Zm6.814 0h1.692l1.455 3.289v-3.29h1.158v4.79H20.82l-1.47-3.26V6.05h-1.16V1.266ZM0 8.34v7.32h7.32V8.34H0Zm8.34 0v7.32h7.32V8.34H8.34Zm8.34 0v7.32H24V8.34h-7.32Zm-6.32 1.265h3.19v.965h-1.935v.92H13.5v.92h-1.885v1.065h2.03v.916h-3.286V9.605Zm8.16 0h1.906c1.075 0 1.719.495 1.719 1.315 0 .535-.284.935-.8 1.135.22.14.35.37.485.705l.645 1.625h-1.35l-.439-1.221c-.2-.535-.287-.664-.702-.664h-.254v1.885h-1.21v-4.78ZM1.596 9.61h1.26v1.756L4.3 9.61h1.51l-2.022 2.25 2.182 2.536H4.39l-1.541-1.94v1.94H1.596V9.61Zm18.134.916v1.065h.334c.375 0 .827-.095.827-.57 0-.36-.226-.495-.801-.495h-.36ZM0 16.68V24h7.32v-7.32H0Zm8.34 0V24h7.32v-7.32H8.34Zm8.34 0V24H24v-7.32h-7.32Zm-12.42 1.2c.375 0 .815.066 1.17.17l.09.024-.055 1.022-.16-.067a2.4 2.4 0 0 0-.89-.174c-.876 0-1.466.555-1.466 1.485s.54 1.484 1.446 1.484c.35 0 .66-.06.925-.18l.154-.073.055.993-.08.032c-.33.13-.753.199-1.193.199-.765 0-1.411-.22-1.871-.635-.475-.43-.73-1.06-.73-1.82 0-1.425 1.095-2.46 2.605-2.46Zm6.996.07h1.484l1.824 4.784H13.26l-.4-1.16H11.1l-.41 1.16H9.435l1.82-4.785Zm6.965 0h1.718c1.625 0 2.522.825 2.522 2.325 0 1.54-.992 2.46-2.647 2.46h-1.593V17.95Zm1.26.915v2.95h.195c.975 0 1.488-.55 1.488-1.54 0-.895-.49-1.41-1.375-1.41h-.309Zm-7.5.19-.596 1.6h1.17l-.574-1.6Z"
        fill="#0175da"></path>
    </svg>
    <a href={tinkercad}>Editable model at Tinkercad</a>
  </li>
</ul>

<style>
  .model-resource-links {
    display: grid;
    gap: var(--space-xs);
    padding: 0;
    margin: 0 0 var(--space-component);
    list-style: none;
  }

  .model-resource-links li {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin: 0;
  }

  .model-resource-links svg {
    flex: 0 0 auto;
  }
</style>
